.jumbotron { 
    background-image: url(headshot.jpg);
    background-attachment: fixed; 
    background-size: cover;
    height: 1000px;
    
} 

.body { 
    font-family: 'Open Sans', sans-serif;
} 

h1.display-4 { 
    font-family: 'Raleway', sans-serif;
    background-color: white;
    text-align: center;
}

.lead { 
    background-color: white;
    text-align: center;
}

.bio { 
    display: block;
    margin-left: 110px;
    margin-right: 110px;
}

.accordion{ 
    padding: 10px 100px 25px 100px;
}

.btn.btn-primary.btn-sm{ 
    background-color: #724db7;
}

.btn.btn-link { 
    color: #724db7;
    font-weight: bold;
}

.portfolio-header{ 
    padding: 25px 0px 0px 100px;
}

.card-title { 
    font-weight: bold;
}

.card-link { 
    color: #724db7;
}

.col-lg-4{ 
    padding: 50px 50px 0px 50px;
}

a:hover { 
    color: gray;
}

.contact-icons { 
    font-size: 60px;
    display: block;
    text-align: center;
    color: #724db7;
}



