.jumbotron { 
    background-image: url(headshot.jpg*);
    background-attachment: scroll; 
    background-size: cover;
    height: 1000px
} 

.body { 
    font-family: 'Open Sans', sans-serif;
} 

h1.display-4 { 
    font-family: 'Raleway', sans-serif;
}

.accordion{ 
    padding: 10px 100px 100px 100px;
}

.portfolio-header{ 
    padding: 10px 0px 0px 100px;
}